@media screen and (min-width: 768px) {
    .header {
        display: none;
    }

    .header-desk {
        display: flex;
        padding: 1rem 4rem;
        align-items: center;
        gap: 8rem;
        font-weight: 600;
        color: #737373;
    }

    .header-desk__logo {
        padding-left: 10rem;
        flex-grow: 1;
    }

    .header-desk__menu {
        display: flex;
        gap: 2rem;
        list-style: none;

    }

    .header-desk__icon {
        display: flex;
        gap: 2rem;
    }

    .sect-welcome {
        width: auto;
    }

    .sect-welcome__title {
        font-size: xxx-large;
        padding-left: 17rem;
        padding-right: 17rem;
    }

    .sect-welcome__desc {
        padding-left: 32rem;
        padding-right: 32rem;
    }

    .sect-welcome__bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sect-activity {
        width: auto;
    }

    .sect-activity__desc {
        font-size: large;
        padding-left: 32rem;
        padding-right: 32rem;
    }

    .sect-activity__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .clients {
        width: auto;
        padding: 4rem;
    }

    .clients-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .team {
        width: auto;
    }

    .team-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .expert {
        width: auto;
    }

    .expert__background {
        width: auto;
    }

    .expert__image-2 {
        display: block;
    }

    .expert__image {
        display: none;
    }

    .expert__filter {
        display: none;
    }

    .expert__play {
        display: none;
    }

    .appointment {
        width: auto;
        background-image: url('/image/appoinment-2.png');
        align-items: flex-start;
    }

    .appointment-form {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .appointment-form__message {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .consult {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .consult__sect {
        padding: 0;
    }

    .footer {
        width: auto;
    }

    .footer__upper {
        width: auto;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 8rem;
    }

    .footer__company-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;

    }

    .footer__icons {
        display: flex;
        gap: 1rem;
    }

    .footer__icon {
        height: 1.5rem;
    }

    .footer__company-info-2 {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
    }

    .footer__lower {
        width: auto;
    }

}